In [4]:
import numpy as np
import pandas as pd

In [ ]:
air_qual_data = pd.read_csv('./raw_data/AirQualityUCI_fixed.csv')

In [ ]:
air_qual_data

In [24]:
air_qual_data.isnull().values.any()

False

In [5]:
auto_mpg_data = pd.read_csv('./raw_data/auto-mpg_fixed.csv')

In [7]:
auto_mpg_data.isnull().values.any()

False

In [8]:
auto_mpg_data.drop(auto_mpg_data.loc[auto_mpg_data['horsepower']=='?'].index, inplace=True)

In [13]:
auto_mpg_data.drop(columns='car_name', inplace=True)

In [15]:
df1 = auto_mpg_data.pop('mpg')
auto_mpg_data['mpg'] = df1

In [16]:
auto_mpg_data

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,8,307.0,130,3504,12.0,70,1,18.0
1,8,350.0,165,3693,11.5,70,1,15.0
2,8,318.0,150,3436,11.0,70,1,18.0
3,8,304.0,150,3433,12.0,70,1,16.0
4,8,302.0,140,3449,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1,27.0
394,4,97.0,52,2130,24.6,82,2,44.0
395,4,135.0,84,2295,11.6,82,1,32.0
396,4,120.0,79,2625,18.6,82,1,28.0
397,4,119.0,82,2720,19.4,82,1,31.0

In [17]:
auto_mpg_data.to_csv('./cleaned_data/auto_mpg_fixed_cleaned.csv')

In [ ]:
forest_fires_data = pd.read_csv('./raw_data/forestfires.csv')

In [ ]:
forest_fires_data

In [ ]:
forest_fires_data.isnull().values.any()